<div class="card-twelve-game">
    <div *ngFor="let card of cards" (click)="flipCard(card)">
      <div class="card" [ngClass]="{'flipped': card.flipped, 'matched': card.matched}">
        <div class="front"></div>
        <div class="back" [ngStyle]="{'background-image': 'url(' + card.image + ')'}"></div>
      </div>
    </div>

    <div id="moves">
        <div id="totalMoves">
          <h2>Total Moves - {{totalMoves}}</h2>
        </div>
        <div id="successMoves">
          <h2>Success Moves - {{successMoves}}</h2>
        </div>
        <div id="accuracy">
          <h2>Accuracy - {{accuracy}} %</h2>
        </div>
  </div>
  